/* #root {
    background-color: green;
}

.container {
    background-color: rgb(0, 255, 191);
}

main {
    background-color: rgb(119, 119, 211);
}

.logo-header-background {
    background-color: aqua;
}

section {
    background-color: cadetblue;
}

.box-styling {
    background-color: orange;
}

.box-main-styling {
    background-color: blueviolet;
} */