:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* PayPath branded colours */
  --primary: hsl(255, 100%, 13%);
  --secondary: hsl(269, 99%, 48%);
  --desat-blue: hsl(253, 17%, 45%);
  --desat-secondary: hsl(264, 26%, 74%);
  --text: hsl(0, 0%, 100%);

}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* ensure it is at least the height of the viewport */
  /* background-color: var(--primary); */
  /* background-color: var(--secondary); */
  width: 100%;
  margin: 0;
  padding: 0;
}

#root, #__next {
  isolation: isolate;
}

/* --------- */
/* defaults */
/* --------- */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  display: flex;
  flex-direction: column;
}

html {
  width: 100%;
  height: 100%;
  font-size: 100%; 
}

body {
  margin: 0;
}

Link, img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  color: black;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  text-decoration: none;
}

button, textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  background: none;
  width: 100%;
  border: 1px solid var(--dark-grey);
  box-shadow: none;
}

/* --------------------------- */
/* project specific styles */
/* --------------------------- */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0 auto 1.25rem auto;
}

p {
  margin: 0;
  padding: 0;
}

header {
  margin-bottom: 5em;
}

.box-styling,
.box-main-styling,
main {
  background-color: var(--primary);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: .25rem; 
  overflow: visible;
}

main h1,
main h2,
main h3,
main p {
  color: var(--text);
}

.box-styling {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.box-main-styling {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

button {
  color: var(--text);
  
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.75;
  transition: opacity 0.3s ease;
}

button,
input,
textarea {
  width: 100%;
  padding: 0;
  margin-bottom: 10px;
}

textarea {
  border: 1px solid var(--dark-grey) !important;
  box-shadow: none !important;
  padding: 1rem !important;
  overflow: hidden;
   resize: none;
}

.tab-content,
.card { 
  padding: 3em;
  background-color: var(--primary);
  border-radius: 8px;
  box-shadow: 0 2px 2px 1px var(--dark-grey);
}

.register-container {
  width: 650px;
}

.login-container {
  width: 550px;
  color: var(--text);
}

.register-container,
.login-container {
  width: 550px;
  margin-top: 50px;
  padding: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 2px 3px 1px darkgray;
}

.login-register-header {
  margin-bottom: 40px;
}

.login-register-header h2,
.login-register-header p {
  color: var(--primary);
}

.login-register-button {
  margin-top: 20px;
  width: 100%;
  border-radius: 5em;
}

input {
  width: 100%;
  border: 1px solid var(--desat-secondary);
  background: none;
  color: var(--text);
}

/* Hide scrollbar for Chrome, Safari and Opera */
&::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.search-consultant {
  /* -ms-overflow-style: none;
  scrollbar-width: none; */
  height: 600px;
}

button, input {
  border-radius: 2rem;
}

button {
  /* border-radius: 8px; */
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: var(--primary);
}

button.qrCode {
  color: var(--primary);
  background-color: var(--text);
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto aquamarine;
}

.full-page-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.login-container {
  width: 550px;
  margin-top: 50px;
  padding: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 2px 3px 1px darkgray;
}

/* ----------------------- */
/* LOGIN/LANDING PAGE */
/* ----------------------- */

.landing-header {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing-header h1 {
  color: var(--text);
}

.landing-header p {
  color: var(--desat-secondary);
  align-self: center;
  width: 65%;
}

.login-container form input {
  padding: 10px 0 10px 20px;
  margin-bottom: 20px;
}

section {
  margin-top: 5em;
}

section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

section p {
  color: var(--desat-secondary);
  margin-bottom: 2rem;
}

.payment-plans-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.payment-plans-container p {
  color: var(--text);
}

.payment-option-container {
  padding: 50px 30px;
  border-radius: 20px;
  width: 30%;
  text-align: left;
}

.payment-option-container ul {
  list-style: disc;
  padding-left: 2rem;
}

.payment-option-container h1 {
  font-size: 24px;
  font-weight: 400;
}

.payment-option-container h2,
.payment-option-container p {
  margin-bottom: 1rem;
}

.payment-option-container p.payment-price {
  font-size: 2.5rem;
  font-weight: 700;
}

.free {
  background-color: hsl(269, 42%, 38%);
  margin-right: 30px;
}

.paid {
  color: var(--text);
  background-color: hsl(269, 83%, 61%);
}

.free h1,
.free h2, 
.free h3,
.free p,
.free ul {
  color: hsl(270, 100%, 13%);
}

.get-mobile-app-section {
  display: flex;
  flex-direction: row;
}

.get-mobile-app-section input {
  border-color: aqua;
}

.get-mobile-app-section button {
  color: var(--primary);
  background-color: aqua;
  border-radius: 2rem;
}