Screen {
    layout: horizontal;
}

#main_container {
    padding: 1;
}

#transaction_container {
    padding: 1;
}


.client-button {
    background: #f0f0f0;
    color: #333;
    padding: 2 1;
    margin: 1;
    border: none;
}